<!doctype html>
<html ng-app>
  <head>
    <script src="lib/underscore.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="src/controller.js"></script>
    <script src="src/main.js"></script>
  </head>
  <body ng-csp ng-controller="tunami.controller">
    <ul>
      <li ng-repeat="song in songs">
        <a ng-click="setActiveSong(song)">{{song.name}}</a>
        <a ng-click="removeSong(song)">x</a>
      </li>
    </ul>
    <button ng-click="addSong()">Add Song</button>
    <audio controls />
  </body>
</html>

