<!doctype html>
<html ng-app>
  <head>
    <link href="styles/main.css" rel="stylesheet" />
    <script src="lib/underscore.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="src/controller.js"></script>
    <script src="src/main.js"></script>
  </head>
  <body ng-csp ng-controller="tunami.controller">
    <ul>
      <li ng-repeat="QueueItem in progressQueue.items">
        {{QueueItem.progress}}
      </li>
    </ul>
    <label>Add List: 
      <input ng-click="createList()" type="file" multiple accept="audio/*">
    </label>
    <h3>Lists</h3>
    <ul>
      <li ng-repeat="List in lists">
        <strong ng-click="activateList(List)">{{List.name}}</strong>
        <a ng-click="removeList(List)">Eject</a>
        <a ng-click="library.importList(List)">Import to Library</a>
        <ul ng-show="List.active">
          <li ng-repeat="Song in List.songs">
            <a ng-click="setActiveSong(Song, List)">{{Song.name}}</a>
            <a ng-click="removeSong(Song, List)">x</a>
          </li>
        </ul>
      </li>
    </ul>
    <audio controls />
  </body>
</html>

